.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.info h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.info p {
    max-width: 800px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 1rem;
}

.info hr {
    width: 30%;
    height: 2px;
    background-color: aquamarine;
    margin-bottom: 70px;
    border: none;
}

.info .galeria {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info .galeria li {
    height: 400px;
    padding: 20px;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    flex-basis: 100%;
}

.info .galeria li.pequena {
    flex-basis: 40%;
}

.info .galeria li.grande {
    flex-basis: 60%;
}

.primeiraImagem {
    background-image: url("../imgs/03.jpg");   
}
.segundaImagem {
    background-image: url("../imgs/05.jpg");   
}
.terceiraImagem {
    background-image: url("../imgs/05.jpg");   
}
.quartaImagem {
    background-image: url("../imgs/03.jpg");   
}

@media screen and (max-width:1000px) {
    
}