.pai {
  height: 30px;
}

.primeiroFilho {
  position: relative;
  left: 30px;
  
}

.segundoFilho {
  position: absolute;
  top: 50%;
  left: 50%;
}

.terceiroFilho {
  position: fixed;
  top: 30%;
  left: 30%;
}

.pai {
  
  background-color: #00AAFF;
}

.primeiroFilho {
  background-color: green;
}

.segundoFilho {
  background-color: rgb(248, 117, 117);
}

.terceiroFilho {
  background-color: rgb(255, 116, 232);
}