*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677, #4e085f);
    padding: 10px;
}

.app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}



.app h2 {
    color: #153677;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* font-size: 35px;
    font-weight: 600; */
}

.app h2 img {
    width: 30px;
    margin-left: 10px;
}

.area_de_preenchimento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: seashell;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 200;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: orangered;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 17px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(imgs/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.marcada {
    color: #555;
    text-decoration: line-through;
}

ul li.marcada::before {
    background-image: url(imgs/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 30px;
}

ul li span:hover {
    background-color: orangered;
}

