* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: #002339;
    color: #fff;
}

.container {
    margin: 10%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    color: black;
}

.container h1 {
    font-size: 50px;
    font-weight: 500;
}

.container h1 span {
    color: #019f55;
    border-bottom: #019f55 4px solid;
    font-weight: 600;
}

.display img {
    width: 30px;
    cursor: pointer;

}

.display input {
    outline: 0;
    border: 0;
    font-size: 30px;
}

.container button img {
    width: 30px;
    margin-right: 10px;
}

.container button {
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: #019f55;
    font-size: 22px;
    padding:  16px 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #019f55;
    padding: 25px; 
}

footer ul {
    display: flex;
    margin-bottom: 15px;
    /* pode usar tbm o gap: 5%; */
}

footer ul li {
    margin-right: 5px;
    list-style: none;
    
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
}

footer ul li a img {
    min-width: 5vh;
    max-width: 5vh;
    padding: 0;
    margin-right: 15px;
}